[user]
	name = Leonardo Pistone
	useconfigonly = true
[alias]
	puff = pull --ff-only

	l = log --pretty=onelep --graph
	la = log --pretty=onelep --graph --all

	aa = add --all
	ap = add -p
	fa = fetch --all --prune
	b = branch
	d = diff
	dc = diff --cached
	ci = commit --verbose
	co = checkout
	ff = merge --ff-only
	st = status -sb
[merge]
	tool = vimdiff
[pretty]
  # this looks similar to gary bernhardt's magic, without external
	# magic.
	# I add a tab at the beginning to prevent the graph to break column
	# alignment. That could be considered a bug in git.
	onelep = %x09%h %G? %Cgreen%<(20,trunc)%ar %Cblue%<(20,trunc)%an %Cred%d%Creset %s
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[push]
	gpgsign = if-asked
