[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-bundle-mako"]
	path = .vim/bundle/vim-bundle-mako
	url = git://github.com/sophacles/vim-bundle-mako.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "opt/git-remote-bzr"]
	path = opt/git-remote-bzr
	url = git://github.com/felipec/git-remote-bzr.git
[submodule "opt/git-remote-hg"]
	path = opt/git-remote-hg
	url = git://github.com/felipec/git-remote-hg.git
[submodule ".pyenv"]
	path = .pyenv
	url = git://github.com/yyuu/pyenv.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "opt/dircolors-solarized"]
	path = opt/dircolors-solarized
	url = git://github.com/huyz/dircolors-solarized.git
[submodule "opt/gnome-terminal-colors-solarized"]
	path = opt/gnome-terminal-colors-solarized
	url = git://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "opt/hg-prompt"]
	path = opt/hg-prompt
	url = hg::https://bitbucket.org/sjl/hg-prompt
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-io"]
	path = .vim/bundle/vim-io
	url = git://github.com/andreimaxim/vim-io.git
[submodule ".vim/bundle/vim-cucumber"]
	path = .vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-rhubarb"]
	path = .vim/bundle/vim-rhubarb
	url = git://github.com/tpope/vim-rhubarb.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-flagship"]
	path = .vim/bundle/vim-flagship
	url = git://github.com/tpope/vim-flagship.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-rst-tables"]
	path = .vim/bundle/vim-rst-tables
	url = git://github.com/nvie/vim-rst-tables.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule ".vim/bundle/vim-jinja"]
	path = .vim/bundle/vim-jinja
	url = git://github.com/mitsuhiko/vim-jinja.git
