[user]
	name = Leonardo Pistone
	useconfigonly = true
[alias]
	l = log --pretty=onelep --graph
	la = log --pretty=onelep --graph --all

	aa = add --all
	ap = add -p
	fa = fetch --all --prune
	b = branch
	d = diff
	dc = diff --cached
	ci = commit --verbose
	co = checkout
	st = status -sb
[merge]
	tool = vimdiff
	conflictstyle = diff3
[pretty]
  # this looks similar to gary bernhardt's magic, without external
	# magic.
	# I add a tab at the beginning to prevent the graph to break column
	# alignment. That could be considered a bug in git.
	onelep = %x09%h %G? %Cgreen%<(20,trunc)%ar %Cblue%<(20,trunc)%an %Cred%d%Creset %s
[tag]
	gpgsign = true
[hub]
	host = ghe.spotify.net
[feature]
	manyFiles = true
	experimental = true
[pull]
	ff = only
[diff]
	colorMoved = dimmed-zebra
[init]
	defaultBranch = main
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	navigate = true
