[submodule "opt/dircolors-solarized"]
	path = opt/dircolors-solarized
	url = https://github.com/huyz/dircolors-solarized.git
[submodule "opt/gnome-terminal-colors-solarized"]
	path = opt/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "opt/hg-prompt"]
	path = opt/hg-prompt
	url = hg::https://bitbucket.org/sjl/hg-prompt
[submodule "opt/weechat-notification-center"]
	path = opt/weechat-notification-center
	url = https://github.com/sindresorhus/weechat-notification-center.git
