[user]
	email = leonardo.pistone@camptocamp.com
	name = Leonardo Pistone
[color]
	ui = auto
[alias]
	ff = merge --ff-only
	puff = pull --ff-only
	noff = merge --no-ff

	l = log --pretty=onelep --graph
	la = log --pretty=onelep --graph --all
	r = log --pretty=onelep --graph -8
	ra = log --pretty=onelep --graph -8 --all

        amend = commit --amend --verbose
        aa = add --all
        ap = add -p
        fap = fetch --all --prune
        b = branch
        d = diff
        dc = diff --cached
        st = status
        ci = commit --verbose
        ca = commit --verbose --all
        co = checkout
[merge]
        tool = vimdiff
	defaultToUpstream = true
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[pretty]
        # this looks similar to gary bernhardt's magic, without external
	# magic.
	# I add a tab at the beginning to prevent the graph to break column
	# alignment. That could be considered a bug in git.
	onelep = %x09%h %Cgreen%<(20,trunc)%ar %Cblue%<(20,trunc)%an %Cred%d%Creset %s
[gpg]
	program = gpg2
