---
- connection: local
  hosts: localhost

  vars:
    base_dir: ~/tmp/h
  tasks:
    - name: create base dir
      file:
        path: "{{ base_dir }}"
        state: directory
        mode: '0755'
    - name: clone dotfiles
      git:
        repo: git@github.com:lepistone/dotfiles
        dest: "{{ base_dir }}/dotfiles"
        version: main
        update: 'no'
    - name: link dotfiles
      tags: link-dotfiles
      ansible.builtin.file:
        src: "{{ ansible_facts['user_dir'] }}/dotfiles/{{ item }}"
        dest: "{{ ansible_facts['user_dir'] }}/{{ item }}"
        state: link
      loop:
        - .ansible.cfg
        - .bash_profile
        - .bashrc
        - .config
        - .ghci
        - .gitconfig
        - .hgrc
        - .inputrc
        - .irbrc
        - .mpd
        - .my.cnf
        - .nethackrc
        - .pdbrc.py
        - .psqlrc
        - .tmux.conf
        - .vim
        - .weechat
        - .zlogin
        - .zprofile
        - .zshenv
        - .zshrc
    - name: brew taps
      tags:
        - tap
      homebrew_tap:
        name: "{{ item }}"
      loop:
        - argoproj/tap
        - flyteorg/homebrew-tap

    - name: install brew packages
      tags: brew
      homebrew:
        update_homebrew: no
        name:
          - 1password-cli
          - ansible
          - ansible-lint
          - argocd
          - argoproj/tap/kubectl-argo-rollouts
          - aspell
          - autoconf
          - bash
          - bat
          - bats-core
          - bazelisk
          - buildifier
          - clang-format
          - composer
          - cookiecutter
          - coredns
          - coreutils
          - curl
          - envoy
          - fd
          - fzf
          - gh
          - git
          - git-delta
          - git-lfs
          - go
          - grpcurl
          - helm
          - jq
          - julia
          - kind
          - kube-ps1
          - kubectx
          - kustomize
          - less
          - libtool
          - luarocks
          - mosh
          - neovim
          - openssh
          - openssl
          - php
          - pipx
          - pre-commit
          - pstree
          - python@3.12
          - ripgrep
          - rust
          - starship
          - tfenv
          - tmux
          - tree
          - universal-ctags
          - velero
          - wget
          - uv
          - vim
          - yamllint
          - yq
          - zsh
          - zsh-autosuggestions
          - zsh-syntax-highlighting
          - flytectl
          # - zsh-completions  TODO needs setup
      register: brew_res

    - name: debug
      ansible.builtin.debug:
        var: brew_res
        verbosity: 1

    - name: install cask packages
      homebrew_cask:
        name:
          - docker
          - firefox
          - font-jetbrains-mono
          - ghostty
          - google-cloud-sdk
          - gpg-suite
          - intellij-idea
          - iterm2
          - obs
          - obsidian
          - pycharm
          - raspberry-pi-imager
          - rectangle
          - signal
          - steam
          - tuple
          - vlc
      register: cask_res
      tags:
        - cask

    - name: debug
      ansible.builtin.debug:
        var: cask_res
        verbosity: 1

    - name: vim plugins
      git:
        repo: git@github.com:{{ item[0] }}/{{ item[1] }}
        dest: ~/dotfiles/.vim/pack/ansible/start/{{ item[1] }}
        update: no
      loop:
        - [ github, copilot.vim ]
        - [ pearofducks, ansible-vim ]
        - [ tmux-plugins, vim-tmux ]
        - [ tpope, vim-characterize ]
        - [ tpope, vim-commentary ]
        - [ tpope, vim-dispatch ]
        - [ tpope, vim-dotenv ]
        - [ tpope, vim-endwise ]
        - [ tpope, vim-eunuch ]
        - [ tpope, vim-fireplace ]
        - [ tpope, vim-flagship ]
        - [ tpope, vim-fugitive ]
        - [ tpope, vim-jdaddy ]
        - [ tpope, vim-ragtag ]
        - [ tpope, vim-rhubarb ]
        - [ tpope, vim-salve ]
        - [ tpope, vim-scriptease ]
        - [ tpope, vim-sensible ]
        - [ tpope, vim-sleuth ]
        - [ tpope, vim-speeddating ]
        - [ tpope, vim-tbone ]
        - [ tpope, vim-vinegar ]
        - [ tpope, vim-classpath ]
        - [ tpope, vim-projectionist ]
        - [ tpope, vim-apathy ]
        - [ tpope, vim-afterimage ]
      tags:
        - vim
